<!DOCTYPE html>
<html>
<script src="/nodeJS/weather-server/public/app.js"></script>
<head>
    <h1>{{>header}}</h1>
    Welcome {{name}}
</head>

<body>
      <form>
        <input placeholder="Location">
        <button>Search</button>
    </form>
    <p id="result"></p>
</body>
</html>